## Module:      statsd
## Loaded by:   Broker
# Export host and service performance data to Statsd.
define module {
    module_name     statsd
    module_type     statsd_perfdata

    # Statsd server parameters
    host            93.93.47.81
    port            8126

    # Optionally specify a source identifier for the metric data sent to
    # Statsd. This can help differentiate data from multiple sources for the
    # same hosts. HostA.GRAPHITE_DATA_SOURCE.service
    prefix          shinken
}
